title = "Diesel Status"
url = "/diesel-status"
layout = "default"
is_hidden = 0

[bansv]

[session]
security = "user"
allowedUserGroups[] = "admin"
redirect = "light-status"
==
<main id="main">
    <!-- Hero area of the page -->
    <section class="hero-area text-center" data-scroll-index="0" style="background-image: url({{'assets/images/light.jpeg'|theme}});">
        <div class="container">
            <div class="row">
                <header class="heading-holder col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <h1 style="color:#fff"><span class="text-small"></span>Diesel Status</h1>
                    {# <p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> #}
                </header>
            </div>
            <div class="aligncenter">
                {# <div class="row">
                    <div style="margin:0 auto; width:100%; text-align:center">
                    <h3>Gen</h3>
                        <a href="#" class="btn btn-default btn-white pwrbtn">On</a>
                        <a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
                    </div>
                </div>
                <div class="row">
                    <div style="margin:0 auto; width:100%; text-align:center">
                    <h3>NEPA</h3>
                        <a href="#" class="btn btn-default btn-white pwrbtn">On</a>
                        <a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
                    </div>
                </div> #}
                {# <img src="https://placehold.it/680x380" alt="image description" class="img-responsive"> #}
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4" style="margin-top:50px">
            <form data-request="onDieselStatusUpdate">
                <div class="form-group">
                    <label for="quantity" style="color:#222">Current Quantity</label>
                    <input id="quantity" type="text" class="form-control" name="quantity">
                </div>
                <button type="submit" class="btn btn-default btn-white pwrbtn">Submit</button>
            </form>
        </div>
    </section>
</main>