title = "Login"
url = "/login"
layout = "default"
is_hidden = 0

[account]
redirect = "light-status"
paramCode = "code"
forceSecure = 0

[bansv]

[session]
security = "guest"
redirect = "light-status"
==
<main id="main">
			<!-- Hero area of the page -->
			<section class="hero-area text-center" data-scroll-index="0" style="background-image: url({{'assets/images/light.jpeg'|theme}});">
				<div class="container">
					<div class="row">
						<header class="heading-holder col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
							<h1 style="color:#fff"><span class="text-small"></span>Login</h1>
							{# <p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p> #}
						</header>
					</div>
					<div class="aligncenter">
						{# <div class="row">
							<div style="margin:0 auto; width:100%; text-align:center">
							<h3>Gen</h3>
								<a href="#" class="btn btn-default btn-white pwrbtn">On</a>
								<a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
							</div>
						</div>
						<div class="row">
							<div style="margin:0 auto; width:100%; text-align:center">
							<h3>NEPA</h3>
								<a href="#" class="btn btn-default btn-white pwrbtn">On</a>
								<a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
							</div>
						</div> #}
						{# <img src="https://placehold.it/680x380" alt="image description" class="img-responsive"> #}
					</div>
				</div>
                <div class="col-md-4 col-md-offset-4" style="padding-top:50px">
                    <form data-request="onSignin">
                    <div class="form-group">
                        <label for="email" style="color:#222">E-mail</label>
                        <input id="email" type="email" class="form-control" name="login">
                    </div>
					<div class="form-group">
                        <label for="quantity" style="color:#222">Password</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-default btn-white pwrbtn">Submit</button>
                    
                </form>
                </div>
                
			</section>
			<!-- Hero area of the page end -->
			<!-- Features area of the page -->
			{# <section class="features-area container" data-scroll-index="1">
				<div class="row">
					<div style="margin:0 auto; width:100%; text-align:center">
					<h3>Gen</h3>
						<a href="#" class="btn btn-default btn-white pwrbtn">On</a>
						<a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
					</div>
					
					
				</div>
				<div class="row">
					
					<div style="margin:0 auto; width:100%; text-align:center">
					<h3>NEPA</h3>
						<a href="#" class="btn btn-default btn-white pwrbtn">On</a>
						<a href="#" class="btn btn-default btn-white pwrbtn">Off</a>
					</div>
					
					
				</div>
			</section> #}
			<!-- Features area of the page end -->
			<!-- Product Features of the page -->
			{# <section class="container product-features" data-scroll-index="2">
				<div class="row sameheight-container">
					<!-- Descr of the page -->
					<div class="col-xs-12 col-sm-6 descr sameheight">
						<div class="align">
							<h2>No more confusion and complex to manage your office.</h2>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<ul class="facts-list">
								<li>
									<h3><span class="counter">230</span><span class="text-block">Components</span></h3>
								</li>
								<li>
									<h3><span class="counter">10</span>+<span class="text-block">Themes</span></h3>
								</li>
								<li>
									<h3>Unlimited<span class="text-block">users</span></h3>
								</li>
							</ul>
						</div>
					</div>
					<!-- Descr of the page end -->
					<!-- img holder of the page -->
					<div class="img-holder sameheight col-xs-12 col-sm-6">
						<img src="https://placehold.it/765x745" alt="image description" class="img-responsive">
					</div>
					<!-- img holder of the page end -->
				</div>
			</section> #}
			<!-- Product Features of the page end -->
			<!-- Demo block of the page -->
			{# <aside class="demo-block">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-md-7">
							<h2>Need a perfect software to manage everything?</h2>
							<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam.</p>
						</div>
						<div class="col-xs-12 col-md-5">
							<ul>
								<li><a href="#" class="btn btn-default btn-white">Purchase now</a></li>
								<li><a href="#">Try our Demo</a></li>
							</ul>
						</div>
					</div>
				</div>
			</aside> #}
			<!-- Demo block of the page end -->
			<!-- Testimonials of the page -->
			{# <section class="testimonials text-center" data-scroll-index="3">
				<div class="container">
					<div class="row">
						<header class="col-xs-12 heading-wrap col-sm-6 col-sm-offset-3 text-center">
							<h2>More than <span class="text-bright">20,000+ Customers</span>, <br>see some wishes here.</h2>
						</header>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<!-- Testimonials gallery of the page -->
						<div class="testimonials-gallery">
							<!-- Testimonials mask of the page -->
							<div class="testimonials-mask">
								<div class="testimonials-slide">
									<blockquote>
										<q>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium<br> lectorum. Mirum est notare quam littera gothica, </q>
										<cite>
											<strong class="name">David Ramon</strong>
											<span class="subtitle">Project Manager, D360-Studio</span>
										</cite>
									</blockquote>
								</div>
							</div>
							<!-- Testimonials mask of the page end -->
							<!-- Testimonials mask of the page -->
							<div class="testimonials-mask">
								<div class="testimonials-slide">
									<blockquote>
										<q>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium<br> lectorum. Mirum est notare quam littera gothica, </q>
										<cite>
											<strong class="name">David Ramon</strong>
											<span class="subtitle">Project Manager, D360-Studio</span>
										</cite>
									</blockquote>
								</div>
							</div>
							<!-- Testimonials mask of the page end -->
							<!-- Testimonials mask of the page -->
							<div class="testimonials-mask">
								<div class="testimonials-slide">
									<blockquote>
										<q>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium<br> lectorum. Mirum est notare quam littera gothica, </q>
										<cite>
											<strong class="name">David Ramon</strong>
											<span class="subtitle">Project Manager, D360-Studio</span>
										</cite>
									</blockquote>
								</div>
							</div>
							<!-- Testimonials mask of the page end -->
						</div>
						<!-- Testimonials gallery of the page end -->
					</div>
				</div>
				<aside class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="aligncenter col-xs-12">
								<img src="https://placehold.it/850x415" alt="image description" class="img-responsive">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 heading-wrap btn-holder col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
							<h2>Our software is totally customisable and easy to use, <span class="text-bright">no need to know anything!</span></h2>
							<a href="#" class="btn btn-info">Purchase now</a>
						</div>
					</div>
				</aside>
			</section> #}
			<!-- Testimonials of the page end -->
			<!-- Video block of the page -->
			{# <aside class="video-block">
				<div class="video overlay">
					<img src="https://placehold.it/1920x430" alt="image description" class="img-responsive">
					<a href="https://www.youtube.com/embed/9bZkp7q19f0?autoplay=1" class="ico-play lightbox fancybox.iframe"></a>
				</div>
			</aside> #}
			<!-- Video block of the page end -->
			<!-- Price offers of the page -->
			{# <section class="container price-offers" data-scroll-index="4">
				<div class="row">
					<header class="col-xs-12 heading-wrap col-sm-6 col-sm-offset-3 text-center">
						<h2>Select your <span class="text-bright">plan as your choise</span>, <br>no need to pay extra money.</h2>
					</header>
				</div>
				<div class="cols-holder">
					<!-- Price col of the page -->
					<div class="price-col text-center col-xs-12 col-sm-6 col-md-3">
						<strong class="title">free!</strong>
						<div class="offer-heading">
							<h3>$0<span class="text-light">/mo</span><span class="subtitle">30 Days Trial</span></h3>
						</div>
						<ul>
							<li class="check"><span>1 User</span></li>
							<li class="check"><span>Admin Dashboard</span></li>
							<li class="un-check"><span>Live Chat Service</span></li>
							<li class="un-check"><span>Special Offers</span></li>
							<li class="check"><span>Free Support</span></li>
						</ul>
						<a href="#" class="btn btn-info">Get Started now</a>
					</div>
					<!-- Price col of the page end -->
					<!-- Price col of the page -->
					<div class="price-col text-center col-xs-12 col-sm-6 col-md-3">
						<strong class="title">Freelancer</strong>
						<div class="offer-heading">
							<h3>$3.99<span class="text-light">/mo</span><span class="subtitle">Best for Freelance Team</span></h3>
						</div>
						<ul>
							<li class="check"><span>1 User</span></li>
							<li class="check"><span>Admin Dashboard</span></li>
							<li class="check"><span>Live Chat Service</span></li>
							<li class="un-check"><span>Special Offers</span></li>
							<li class="check"><span>Free Support</span></li>
						</ul>
						<a href="#" class="btn btn-info">Get Started now</a>
					</div>
					<!-- Price col of the page end -->
					<!-- Price col of the page -->
					<div class="price-col active text-center over col-xs-12 col-sm-6 col-md-3">
						<strong class="title">Startup</strong>
						<div class="offer-heading">
							<h3>$10<span class="text-light">/mo</span><span class="subtitle">Best for small startups</span></h3>
						</div>
						<ul>
							<li class="check"><span>20 Users</span></li>
							<li class="check"><span>Admin Dashboard</span></li>
							<li class="check"><span>Live Chat Service</span></li>
							<li class="check"><span>Special Offers</span></li>
							<li class="check"><span>Free Support</span></li>
						</ul>
						<a href="#" class="btn btn-info">Get Started now</a>
					</div>
					<!-- Price col of the page end -->
					<!-- Price col of the page -->
					<div class="price-col text-center col-xs-12 col-sm-6 col-md-3">
						<strong class="title">Company</strong>
						<div class="offer-heading">
							<h3>$15.99<span class="text-light">/mo</span><span class="subtitle">Best for Big Team</span></h3>
						</div>
						<ul>
							<li class="check"><span>1 Users</span></li>
							<li class="check"><span>Admin Dashboard</span></li>
							<li class="un-check"><span>Live Chat Service</span></li>
							<li class="un-check"><span>Special Offers</span></li>
							<li class="check"><span>Free Support</span></li>
						</ul>
						<a href="#" class="btn btn-info">Get Started now</a>
					</div>
					<!-- Price col of the page end -->
				</div>
			</section> #}
			<!-- Price offers of the page end -->
			<!-- Trial block of the page -->
			{# <section class="trial-block container">
				<div class="row">
					<div class="alignleft">
						<img src="https://placehold.it/665x460" alt="image description" class="img-responsive">
					</div>
					<div class="col-xs-12 col-sm-6 descr">
						<div class="align">
							<header class="heading-wrap">
								<h2>Try our free trial today. If you don’t like, you can cancel it anytime!</h2>
							</header>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<a href="#" class="btn btn-info">Try our demo</a>
						</div>
					</div>
				</div>
			</section> #}
			<!-- Trial block of the page end -->
			<!-- Brands area of the page -->
			{# <aside class="brands-area container">
				<div class="row">
					<header class="col-xs-12 heading-wrap col-sm-6 col-sm-offset-3 text-center">
						<h2>Some of our <span class="text-bright">trusted customers</span>, <br>who are statisfied!</h2>
					</header>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<!-- Logos list of the page -->
						<ul class="list-unstyled line-slider">
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
							<li><a href="#"><img src="https://placehold.it/170x85" alt="image description" class="img-responsive"></a></li>
						</ul>
						<!-- Logos list of the page end -->
					</div>
				</div>
			</aside> #}
			<!-- Brands area of the page end -->
		</main>