.btn-default.pwrbtn {
    border-color: #222 !important;
    color: #222 !important;
}

.btn-default.pwrbtn.pwron {
    background-color: green;
    color: #fff;
}

.btn-default.pwrbtn.pwroff {
    background-color: red;
    color: #fff;
}

.form-control {
    background-color: #fff;
    border-color: #222;
    color: #222;
}

.features-area {
    padding-top: 0px !important;
}

.doton {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .dotoff {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }