<footer id="footer">
			<!-- Aside of the page -->
			<aside class="aside">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center col-sm-6 col-sm-offset-3">
							<div class="logo"><a href="#"><img src="images/logo2.png" alt="cooper"></a></div>
							<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore</p>
							<!-- Social Networks of the page -->
							<ul class="social-networks">
								<li><a href="#"><span class="icon ico-facebook"></span></a></li>
								<li><a href="#"><span class="icon ico-twitter"></span></a></li>
								<li><a href="#"><span class="icon ico-google-plus"></span></a></li>
								<li><a href="#"><span class="icon ico-pinterest"></span></a></li>
								<li><a href="#"><span class="icon ico-icon1"></span></a></li>
							</ul>
							<!-- Social Networks of the page end -->
						</div>
					</div>
				</div>
			</aside>
			<!-- Aside of the page end -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
						<p>&copy; Copyright 2017, <a href="#">Cooper.com</a>. <br>All Rights Reserved</p>
					</div>
				</div>
			</div>
		</footer>