<header id="header">
    
			<div class="container">
				<div class="holder center-block">
					<!-- Logo of the page -->
					{# <div class="logo">
						<a href="#">
							<img src="images/logo2.png" alt="cooper" class="light img-responsive">
							<img src="images/logo.png" alt="cooper" class="dark img-responsive">
						</a>
					</div> #}
					<!-- Logo of the page end -->
					<!-- Navbar of the page -->
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Status</a></li>
                                {% if user.getGroups.first.code == 'admin' %}
                                    <li><a href="{{'diesel-supply'|page}}">Diesel Supply</a></li>
                                    <li><a href="{{'diesel-status'|page}}">Diesel Status</a></li>
                                    <li><a href="{{'light-switch'|page}}">Light Switch</a></li>
                                {% endif %}
							</ul>
						</div>
					</nav>
					<!-- Navbar of the page end -->
				</div>
			</div>
		</header>