description = "Default layout"
[account]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Banana - SV2 Gen Monitor - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- set the apple mobile web app capable -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- set the HandheldFriendly -->
        <meta name="HandheldFriendly" content="True">
        <!-- set the apple mobile web app status bar style -->
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
        <link href="{{ 'assets/css/bootstrap.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/plugins.css'|theme }}" rel="stylesheet">  
        <link href="{{ 'assets/css/font-awesome.min.css'|theme }}" rel="stylesheet"> 
        {# <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet"> #}
        <link href="{{ 'assets/css/style2.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/custom.css'|theme }}" rel="stylesheet">
        <link href="{{ 'assets/css/colors.css'|theme }}" rel="stylesheet">     
        <link href="{{ 'assets/css/responsive.css'|theme }}" rel="stylesheet"> 
        {% styles %}
    </head>
    <body>
    <div>{% flash success %} <p data-control="flash-message" data-interval="5" class="success">{{message}} </p>{% endflash %}</div> 
     <div>{% flash error %} <p data-control="flash-message" data-interval="5" class="error">{{message}} </p>{% endflash %}</div> 

        <div id="wrapper">
        <!-- Header -->
        
            {% partial 'site/header' %}
        

        <!-- Content -->
        
            {% page %}
        

        <!-- Footer -->
        
            {# {% partial 'site/footer' %} #}
        

        <!-- Scripts -->
        <script src="{{ 'assets/js/jquery.js'|theme }}"></script>
        <script src="{{ 'assets/js/plugins.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.main.js'|theme }}"></script>
        {# <script src="{{ 'assets/js/particles.js'|theme }}"></script> #}
        
        {% framework extras %}
        {% scripts %}
        </div>
    </body>
</html>
